html{
    height: 100%;
}
body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    font-family: cursive;
    font-size: 20px;
    background-color: #dddddd;
    .login,
    .game{
        display: none;
    }

    .login__box{      
        max-width: 350px;
        max-height: 200px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        form{
            width: 100%;
            height: 100%;
            position: relative;
            label{
                position: absolute;
                top: 40px;
                left: 10px;
                text-align: center;
                font-family: 'Hi Melody', cursive;
                font-size: 25px;
                color: white;
                opacity: 0;
                background-color: #e66767;
                padding: 10px 15px;
                border-radius: 20px;
                border-bottom-left-radius: 0;
                box-shadow: 2px 4px 13px rgba(119, 117, 117, 0.74);
                animation: setNickname 1s linear forwards;
            }
            input{
                position: absolute;
                top: 120px;
                right: 0;
                max-width: 180px;
                text-align: center;
                border-radius: 20px;
                border-bottom-right-radius: 0;
                border: none;
                font-size: 25px;
                font-family: 'Hi Melody', cursive;
                padding: 5px 15px;
                background-color: #f7d794;
                color: white;
                opacity: 0;
                box-shadow: 2px 4px 13px rgba(119, 117, 117, 0.74);
                animation: setNickname 1s linear forwards 0.7s ;
            }
            .main__title{
                position: absolute;
                top: -70px;
                right: 10px;
                font-family: 'Gugi', cursive;
                font-size: 60px;
                animation: title 5s linear infinite;
            }
        }
    }
    
    &.loggedOut{
        .login{
            display: block;
        }
    }
    &.loggedIn{
        .game{
            display: block;
            .notifications{
                div{
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@keyframes setNickname{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes title{
    0%{
        opacity: 0.3;
        transform: translateY(-15px);
    }
    25%{
        opacity: 1;
        transform: translateY(0);
    }
    50%{
        opacity: 0.3;
        transform: translateY(-15px);
    }
    75%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0.3;
        transform: translateY(-15px);
    }
    
}