.chat{
    position: relative;
    display: flex;
    flex-direction: column;
    top: -600px;
    right: -800px;
    align-items: center;
    .chat__messages{
        position: absolute;
        width: 400px;        
        height: 400px;
        background-color: white;
        padding: 25px 30px; 
        border: none;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.377);
        li{
            span{
                
                &.self{
                    color: #fa983a;
                }
                &.out{
                    color: black;
                }
            }
        }
    }
    .chat__form{
        position: absolute;
        top: 410px;
        .chat__input{
            width: 430px;
            border-radius: 5px;
            padding: 10px 15px;
            border: 1px solid rgb(168, 167, 167);
            box-shadow: none;
            font-size: 17px;
            text-align: start;
        }
    }
}