.game{
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   margin-top: 10px;
   width: fit-content;
   .words{
      position: absolute;
      padding: 15px;
      font-family: 'Jua', sans-serif;
   }
   .canvas-box{
      display: flex;
      .canvas {
         width: 400px;
         height: 500px;
         background-color: white;
         border-radius: 10px;
         border-bottom-right-radius: 0px;
         border-top-right-radius: 0px;
         margin-bottom: 10px;
      }
      .controls{
         display: flex;
         flex-direction: column;
         .controls__btns {
            display: flex;
            flex-direction: column;;
            button{
               all: unset;
               cursor: pointer;
               background-color: white;
               padding: 4px 0px;
               text-align: center;
               border: 1px solid rgba(0, 0, 0, 0.2);
               text-transform: uppercase;
               font-size: 14px;
               transition: all 0.2s linear;
               &:last-child{
                  height: 26px;
               }
               &:first-child{
                  border-top-right-radius: 10px;
               }
            }
            button:hover{
               background-color: #54a0ff;
               color: white;
            }
         }
         .controls__colors{
            display: flex;
            flex-direction: column;
            .controls__color {
               width: 80px;
               height: 49px;
               transition: opacity 0.2s linear;
               &:last-child{
                  border-bottom-right-radius: 10px;
               }
               cursor: pointer;
            }
            .controls__color:hover{
               opacity: 0.5;
            }
         }
      }
   }
   .player__section{
      max-width: 480px;
      display: grid;
      grid-template-columns: 0.6fr 0.7fr 3fr;
      grid-template-rows: 0.3fr 0.3fr 0.6fr;
      grid-gap:5px;
      grid-template-areas: 
      "ready ready chat"
      "clock clock chat"
      "player player chat";
      .player__clock{
         grid-area: clock;
         background-color: white;
         border-radius: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
         span{
            font-size: 30px;
            font-weight: bolder;
         }
      }
      .player__ready{
         grid-area: ready;
         display: flex;
         justify-self: center;
         align-self: center;
         padding: 8px 34px;
         border-radius: 10px;
         color: #95a5a6;
         font-family: 'Jua', sans-serif;
         font-size: 24px;
         font-weight: bolder;
         border: 6px solid #95a5a6;
         cursor: pointer;
         transition: all 0.2s linear;
      }
      .player__board{
         grid-area: player;
         text-align: center;
         display: flex;
         flex-direction: column;
         align-items: center;
         span{
            max-width: 148px;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: white;
            font-family: 'Jua', sans-serif;
            font-size: 17px;
            &:not(:last-child){
               margin-bottom: 5px;
            }
         }
      }
      .chat{
         grid-area: chat;
         display: flex;
         flex-direction: column;
         align-items: center;
         .chat__messages{
             width: 300px;        
             height: 160px;
             background-color: white;
             padding: 10px 15px;
             border-top-left-radius: 10px;
             border-top-right-radius: 10px;
             overflow-y: auto;
             li{
                margin-bottom: 6px;
                font-family: 'Nanum Gothic Coding', monospace;
                font-size: 15px;
                span{
                   box-shadow: 0px 2px 5px rgb(139, 139, 139);
                }
                &.self{
                   display: flex;
                   justify-content: flex-end;
                   span{
                      padding: 7px 15px;
                      border-radius: 10px;
                      border-bottom-right-radius: 0px;
                      background-color: #f1cd7f;
                      color: white;
                   }
                  }
                &.out{
                   display: flex;
                   justify-content: flex-start;
                   span{
                     padding: 7px 15px;
                     border-radius: 10px;
                     border-bottom-left-radius: 0px;
                     background-color: #e66767;
                     color: white;
                  }
               }
                &.bot{
                   display: flex;
                   justify-content: center;
                   span{
                     padding: 7px 15px;
                     border-radius: 15px;
                     background-color: #7f8c8d;
                     color: white;
                  }
               }
             }
         }
         .chat__form{
             .chat__input{
                width: 300px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                border: none;
                border-top: 1px dotted rgb(71, 71, 71);
                padding: 10px 15px;
                box-shadow: none;
                font-size: 17px;
                color: white;
                text-align: start;
                background-color: rgb(190, 190, 190);
                &::placeholder{
                  color: white;
                }
             }
         }
      }
   }
}

@keyframes warnning {
   0%{
      background-color: rgb(250, 78, 78);
      color: white;
      transform: translateX(-1px);
   }
   50%{
      background-color: white;
      color: black;
      transform: translateX(1px);
   }
   100%{
      background-color: rgb(250, 78, 78);
      color: white;
      transform: translateX(-1px);
   }
}

@keyframes _warnning {
   0%{
      background-color: rgb(250, 78, 78);
      color: white;
      transform: translateX(-1px);
   }
   50%{
      background-color: white;
      color: black;
      transform: translateX(1px);
   }
   100%{
      background-color: rgb(250, 78, 78);
      color: white;
      transform: translateX(-1px);
   }
}